body{
    margin: 0;
    padding: 0;
}
.box1{
    height: 100vh;
    width: 100%;
    background-image: url(img1-anish-nair-RibBrreUhpQ-unsplash.jpg);
    background-size: cover;
    background-position: center;
    display: table;
    background-attachment: fixed;
}
.box2{
    height: 100vh;
    width: 100%;
    background-image: url(img2-mark-kuiper-2BMSj-xN008-unsplash.jpg);
    background-size: cover;
    background-position: center;
    display: table;
    background-attachment: fixed;
}
.box3{
    height: 100vh;
    width: 100%;
    background-image: url(img3-steven-kamenar-MMJx78V7xS8-unsplash.jpg);
    background-size: cover;
    background-position: center;
    display: table;   
    background-attachment: fixed;
}
h1{
    font-family: sans-serif;
    font-size: 48px;
    color: #fff;
    margin: 0px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}